.all_tab_option_button {
    display: inline-block !important;
    position: absolute !important;
    right: 14px !important;
    top: 40px;
    /* top: 30px !important; */
  }
  
  .summary_list_rows .flex-row:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
  