/* You can add global styles to this file, and also import other style files */
// @import "node_modules/bootstrap/dist/css/bootstrap.min.css";

$primary-color: #4454a5;
$primary-lighter-color: #c5d4dd;
$primary-darker-color: #275271;
$primary-contrast-color: #ceb276;
$text-primary-color: black;
$text-primary-lighter-color: white;

$table-background: #ffffff;
$table-background-alt: #f2f2f2;
$table-background-hover: #dddddd;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//flex basics
.flex {
  display: flex !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-full {
  flex-grow: 1;
}

// .flex-row {
//   flex: 1 100%
// }

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.dm-header-logo {
  width: 12em;
  margin-left: -1em;
}

.dm-sidenav-logo {
  width: 100%;
  margin: auto;
  padding: 4em;
}

//Information Page
.single_page_header {
  padding-top: 14px;
}

.summary_list div .flex-row {
  margin-bottom: 1em;
  border-bottom: solid 1px rgb(225, 225, 225);
}

.summary_list .titles div {
  padding-right: 2em;
}

.summary_list .values {
  flex-grow: 1;
}

.summary_list_rows .summary_list_item {
  flex-grow: 1;
  border-bottom: solid 1px rgb(225, 225, 225);
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.summary_list_rows .flex-row:not(:last-child) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.sl_flex_title {
  flex-basis: 12em;
}

.sl_flex_content {
  flex-grow: 1;
}

.all_tab_option_button {
  display: inline-block !important;
  position: absolute !important;
  right: 30px !important;
  top: 86px;
  z-index: 2 !important;
}

.alert-box {
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.alert-box mat-icon {
  font-size: 46px;
}

.contrast-icon {
  color: $primary-contrast-color;
}

// Dialogs
.dialog button {
  float: right;
  margin-left: 1em;
}

// Table list Header Section (Search Bar and Add New Button)
.table-list-header {
  display: flex;
  flex-direction: row;
}

.table-list-header .add-new-button-container {
  padding: 0.25em;
  display: flex;
  height: 3.6em;
}

.table-list-header .search-bar {
  flex-grow: 5;
  display: flex;
}

.table-list-header .search-bar mat-form-field {
  width: 100%;
}

// Angular Material Table
.mat-header-row {
  background: $primary-color;
}

.mat-header-cell {
  color: $text-primary-lighter-color;
}

.mat-row:nth-child(odd) {
  background-color: $table-background-alt;
}

.mat-row:hover {
  background: $table-background-hover;
  cursor: pointer;
}

//Tab specific styling
.tab {
  margin: 2em 0;
  padding: 0 1em;
}

.manipulate_menu {
  display: inline-block !important;
  position: absolute !important;
  right: 14px !important;
  top: 30px !important;
}

//Display table styling (grid excel like structure used to display raw data)
.display_table {
  border-collapse: collapse;
  width: 100%;
}

.display_table td,
.display_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.display_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary-color;
  color: $text-primary-lighter-color;
}

.display_table tr:nth-child(even) {
  background-color: $table-background-alt;
}

.display_table tr:hover {
  background-color: $table-background-hover;
}

// Iframe containter base styling
.iframe_container {
  height: 30em;
}

.button_contianer {
  position: absolute;
}

// ---- Form control styling

//Checkboxes
.mat-checkbox {
  margin: 0.5em 0.5em 0 0.5em;
}

//Button Styling
.selected_button {
  background: $primary-contrast-color;
}

//DropDown Styling
.category_label {
  margin-top: 2em;
}

//Review Grid
.table_row_section {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
