@import "node_modules/@angular/material/theming";

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  flex-direction: row-reverse;
}

.button-right {
  margin-left: 10px;
  justify-content: flex-end;
}

.progress-height {
  height: 4px;
}

.logo {
  margin-bottom: 15px;
  text-align: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0 !important;
}
