<div>
  <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedTabIndex">
    <mat-tab label="General Attributes">
      <dmGeneralAttributesTab></dmGeneralAttributesTab>
    </mat-tab>
    <mat-tab label="Template Selection">
      <dmTemplateSelectionTab></dmTemplateSelectionTab>
    </mat-tab>
    <mat-tab label="Custom Attributes">
      <dmCustomAttributesTab></dmCustomAttributesTab>
    </mat-tab>
    <mat-tab label="Proxy Categorization">
      <dmProxyCategorizaitonTab></dmProxyCategorizaitonTab>
    </mat-tab>
    <mat-tab label="Review">
      <dmReviewTab></dmReviewTab>
    </mat-tab>
  </mat-tab-group>
</div>
