<div>
  <div class="table-list-header flex">
   <div class="search-bar flex" >
     <mat-form-field class="w-100" appearance="outline">
       <mat-label>Search</mat-label>
       <input [(ngModel)]="search_input" (keyup)="filterList($event.target.value)" matInput placeholder="Search" />
       <mat-icon matSuffix>search</mat-icon>
     </mat-form-field>
   </div>    
   <div class="add-new-button-container flex" >
      <button mat-raised-button color="primary"  [matMenuTriggerFor]="menu">Create Website</button>
      <mat-menu #menu="matMenu">
        <button (click)="uploadWebsite()" mat-menu-item>
          <mat-icon  >upload</mat-icon>Upload ZIP</button>
        <button routerLink="/website/creation" mat-menu-item> 
          <mat-icon>build</mat-icon>Build from template</button>
      </mat-menu>
   </div>
 </div>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>
    
    <mat-table [hidden]="loading"  [dataSource]="websiteList" matSort>

      <!-- Website Name -->
      <ng-container matColumnDef="website_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Website Name</mat-header-cell
          >
          <mat-cell *matCellDef="let row" (click)="viewWebsite(row.website_uuid)">{{ row.website_name }}</mat-cell>
      </ng-container>
        
       
      <!-- Template Base -->
      <ng-container matColumnDef="template_base_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Template Base</mat-header-cell
          >
          <mat-cell *matCellDef="let row" (click)="viewWebsite(row.website_uuid)">{{ row.template_base_name }}</mat-cell>
      </ng-container>
        
       
      <!-- Created Date -->
      <ng-container matColumnDef="created_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Created Date </mat-header-cell
          >
          <mat-cell *matCellDef="let row" (click)="viewWebsite(row.website_uuid)">{{ row.created_date | date: 'MM/dd/yy' }}</mat-cell>
      </ng-container>
      
        
     
      <!-- Header Info -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
  </div>
</div>
