<div>
  <div class="table-list-header flex">
   <div class="search-bar flex" >
     <mat-form-field class="w-100" appearance="outline">
       <mat-label>Search</mat-label>
       <input [(ngModel)]="search_input" (keyup)="filterList($event.target.value)" matInput placeholder="Search" />
       <mat-icon matSuffix>search</mat-icon>
     </mat-form-field>
   </div>    
   <div class="add-new-button-container flex" >
     <button mat-raised-button color="primary" (click)="uploadWebsite()">
       Upload Website
     </button>
   </div>
 </div>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto;"
        diameter="50"
      ></mat-spinner>
    </div>
    <mat-table [hidden]="loading" [dataSource]="websiteList" matSort>
      <ng-container matColumnDef="counter">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Counter</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.counter }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="uuid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain UUID</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.uuid }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
        (click)="viewWebsite(row.uuid)"
      ></mat-row>
    </mat-table>
  </div>
</div>
