<div>
  <mat-tab-group
    (selectedTabChange)="onTabChanged($event)"
    [(selectedIndex)]="selectedTabIndex"
  >
    <mat-tab label="Application Summary">
      <app-applications-details-summary></app-applications-details-summary>
    </mat-tab>

    <mat-tab label="Domains">
      <app-applications-details-domains> </app-applications-details-domains>
    </mat-tab>

    <mat-tab label="Users">
      <app-applications-details-users
        [users]="users"
      ></app-applications-details-users>
    </mat-tab>
  </mat-tab-group>
</div>
