<div class="flex flex-container tab">
  <h5>Template : {{ tdTabSvc.template_data.name }}</h5>
  <button
    class="manipulate_menu"
    mat-raised-button
    color="primary"
    [matMenuTriggerFor]="menu"
  >
    Options
  </button>
  <mat-menu #menu="matMenu">
    <!-- Approve Template -->
    <button
      (click)="approve()"
      mat-menu-item
      *ngIf="!tdTabSvc.template_data.is_approved && userAuthSvc.userIsAdmin()"
    >
      <mat-icon>thumb_up</mat-icon>Approve Template
    </button>
    <!-- Unapprove Template -->
    <button
      (click)="disapprove()"
      mat-menu-item
      *ngIf="tdTabSvc.template_data.is_approved && userAuthSvc.userIsAdmin()"
    >
      <mat-icon>thumb_down</mat-icon>Unapprove Template
    </button>
    <!-- Download Template -->
    <button (click)="download()" mat-menu-item>
      <mat-icon>download</mat-icon>Download ZIP
    </button>
    <!-- Delete Template -->
    <button *ngIf="userAuthSvc.userIsAdmin()" (click)="delete()" mat-menu-item>
      <mat-icon>delete</mat-icon> Delete
    </button>
  </mat-menu>
  <div class="text-muted">
    A demo of the template as it will be seen prior to attribute substitutions
  </div>

  <div *ngIf="safeURL" class="iframe_container">
    <div class="button_contianer">
      <button mat-button color="primary" (click)="openInNewTab()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
    <iframe [src]="safeURL" height="100%" width="100%"></iframe>
  </div>
</div>
