.mypy_cache
.pytest_cache
.python-version
__pycache__

.vscode
.idea/

.env
.terraform

node_modules
dist

src/domainManagementUI/src/assets/settings.json
/debug.log
/src/domainManagementUI/debug.log

.venv/