.env
.idea/
.mypy_cache
.pytest_cache
.python-version
.terraform
.venv/
.vscode
/debug.log
/src/domainManagementUI/debug.log
Dockerfile-x
__pycache__
dist
node_modules
src/domainManagementUI/src/assets/settings.json
