version: "3.7"
services:
  web:
    build:
      context: .
    container_name: dm-ui-prod
    restart: unless-stopped
    ports:
      - "4200:80"
    networks:
      - frontend
      - backend
    env_file:
      - .env
networks:
  frontend:
    name: dm_frontend
  backend:
    name: dm_backend
