<div class="flex flex-container tab">
  <h5>Template : {{ tdTabSvc.template_data.name }}</h5>
  <button
    class="manipulate_menu"
    mat-raised-button
    color="primary"
    [matMenuTriggerFor]="menu"
  >
    Options
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="download()" mat-menu-item>
      <mat-icon>download</mat-icon>Download ZIP
    </button>
    <!-- <button
      (click)="createWebsiteFromTemplate(tdTabSvc.template_data._id)"
      mat-menu-item
    >
      <mat-icon>build</mat-icon>Create Website
    </button> -->
    <button (click)="delete()" mat-menu-item>
      <mat-icon>delete</mat-icon> Delete
    </button>
  </mat-menu>
  <div class="text-muted">
    A demo of the template as it will be seen prior to attribute substitutions
  </div>

  <div *ngIf="safeURL" class="iframe_container">
    <div class="button_contianer">
      <button mat-button color="primary" (click)="openInNewTab()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
    <iframe [src]="safeURL" height="100%" width="100%"></iframe>
  </div>
</div>
