<div class="flex flex-container tab">
  <!-- <h5>Domain : {{tdTabSvc.template_data.name}}</h5> -->
  <h5>Domain : {{ ddTabSvc.domain_data.name }}</h5>
  <div class="text-muted">A demo of the domain as it will be seen directly</div>

  <div *ngIf="safeURL" class="iframe_container">
    <div class="button_contianer">
      <button mat-button color="primary" (click)="openInNewTab()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
    <iframe [src]="safeURL" height="100%" width="100%"></iframe>
  </div>

  <button mat-raised-button color="primary" (click)="newTemplate()">
    Select New Template
  </button>
</div>
