<div class="flex flex-container tab">
  <div
    *ngIf="!ddTabSvc.domain_data.is_generating_template"
    class="template_mode"
  >
    <h5>Select a Template For This Domain</h5>
    <div class="text-muted">Select your method to select a template</div>
    <div>
      <mat-radio-group
        aria-labelledby="template-selection-radio-group"
        class="example-radio-group"
        [(ngModel)]="ddTabSvc.templateSelectinoMethod"
      >
        <mat-radio-button
          class="template-selection-radio-button"
          value="upload"
        >
          Upload from zip
        </mat-radio-button>
        <mat-radio-button
          class="template-selection-radio-button"
          value="template_selection"
        >
          Select from templates
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div *ngIf="ddTabSvc.domain_data.is_generating_template">
    <h5>Template Generation In Progress</h5>
    <div class="text-muted">
      The html for this domain is currently being generated. This process can
      take serveral minutes. Refresh the page to check if the process has been
      completed.
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div
    class="template_upload_section"
    *ngIf="ddTabSvc.templateSelectinoMethod === 'upload'"
  >
    <button
      class="all_tab_option_button"
      mat-raised-button
      color="primary"
      (click)="uploadDomain()"
    >
      Upload
    </button>
  </div>

  <div
    class="template_selection_section"
    *ngIf="ddTabSvc.templateSelectinoMethod === 'template_selection'"
  >
    <h5>Select a Template Base</h5>
    <div class="text-muted">
      Select a template base that will be used to generate your domain.
    </div>

    <div class="search-bar flex">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="search_input"
          (keyup)="filterList($event.target.value)"
          matInput
          placeholder="Search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-table [dataSource]="templateList" class="mb-5" matSort>
      <!-- Template Name -->
      <ng-container matColumnDef="nameLowerCase">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Template Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="displayTemplate(row.s3_url)">{{
          row.name
        }}</mat-cell>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Created Date
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="displayTemplate(row.s3_url)">{{
          row.created | date: "MM/dd/yy"
        }}</mat-cell>
      </ng-container>

      <!-- Select Template -->
      <ng-container matColumnDef="selected">
        <mat-header-cell *matHeaderCellDef>
          Selected Template
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            *ngIf="row.selected"
            class="selected_button"
            mat-raised-button
            color="accent"
            class="flex"
            (click)="deSelectTemplate()"
          >
            Selected
          </button>
          <button
            *ngIf="!row.selected"
            mat-raised-button
            color="primary"
            class="flex"
            (click)="selectTemplate(row)"
          >
            Select
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header Info -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>

    <div *ngIf="safeURL" class="iframe_container">
      <div class="button_contianer">
        <button mat-button color="primary" (click)="openInNewTab()">
          <mat-icon>fullscreen</mat-icon>
        </button>
      </div>
      <iframe [src]="safeURL" height="100%" width="100%"></iframe>
    </div>
    <div
      style="margin-top: 2em"
      *ngIf="ddTabSvc.template_selection_form.valid"
      [formGroup]="attributeForm"
    >
      <h5>Assign the Templates Attributes</h5>
      <!-- ATTRIBUTES -->
      <div class="text-muted">
        Assign the attributes that will be used to populate the fields within
        your selected template
      </div>
      <div
        class="flex flex-row"
        *ngFor="let attribute of ddTabSvc.attributeList; let i; index"
      >
        <mat-form-field style="width: 20em" appearance="outline">
          <mat-label>{{ attribute.key | titlecase }}</mat-label>
          <input
            matInput
            trim="blur"
            type="text"
            formControlName="{{ attribute.key }}"
            placeholder=" Type Attribute Here"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="flex-row flex-end mt-4">
      <button
        mat-raised-button
        color="primary"
        class="flex"
        (click)="generateFromTemplate()"
        [disabled]="!attributeForm.valid"
      >
        Create Domain HTML
      </button>
    </div>
  </div>
</div>
