<div class="flex flex-container tab">
  <h5>Domain Review</h5>

  <table class="domain_review_table mb-4">
    <tr>
      <th class="key" style="width: 17em"></th>
      <th class="value"></th>
    </tr>
    <tr class="table_row_section">
      <td>Application</td>
      <td>
        {{
          applicationSvc.getApplicationNameByUUID(
            this.genFrmCnt?.application_uuid.value
          )
        }}
      </td>
    </tr>
    <tr class="table_row_section">
      <td>Create Mailgun Server</td>
      <td>{{ booleanToDisplay(genFrmCnt.create_mail_gun.value) }}</td>
    </tr>
    <tr class="table_row_section">
      <td>Create SES</td>
      <td>{{ booleanToDisplay(genFrmCnt.create_SES.value) }}</td>
    </tr>
    <tr class="table_row_section">
      <td>Website Selected</td>
      <td>
        {{
          websiteSvc.getWebsiteNameByUUID(this.webFrmCnt?._id.value)
        }}
      </td>
    </tr>
    <tr>
      <td>Categories</td>
      <td></td>
    </tr>
    <tr class="indented_table_cell">
      <td class="pl-3">Category One</td>
      <td>
        {{ categorySvc.getCategroyNameByUUID(pxyFrmCnt.category_one?.value) }}
      </td>
    </tr>
    <tr *ngIf="pxyFrmCnt.category_two?.value" class="indented_table_cell">
      <td class="pl-3">Category Two</td>
      <td>
        {{ categorySvc.getCategroyNameByUUID(pxyFrmCnt.category_two?.value) }}
      </td>
    </tr>
    <tr *ngIf="pxyFrmCnt.category_three?.value" class="indented_table_cell">
      <td class="pl-3">Category Three</td>
      <td>
        {{ categorySvc.getCategroyNameByUUID(pxyFrmCnt.category_three?.value) }}
      </td>
    </tr>
    <tr class="table_row_section">
      <td></td>
      <td></td>
    </tr>
  </table>

  <mat-label>Notification Email</mat-label>
  <div class="text-muted">
    Please provide an email that will be sent notifications on the continuing
    status of this domain.
  </div>
  <div [formGroup]="domainTabSvc.review_tab_form">
    <mat-form-field style="width: 20em" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        formControlName="update_email"
        placeholder="Email@exmaple.com"
      />
    </mat-form-field>
  </div>

  <div class="flex-row flex-end mt-4">
    <button
      mat-raised-button
      color="primary"
      class="flex"
      (click)="submitDomain()"
    >
      Submit
    </button>
  </div>
</div>
