<div>
  <div class="table-list-header flex">
    <div class="search-bar flex">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="searchInput"
          (keyup)="filterList($event.target.value)"
          matInput
          placeholder="Search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="add-new-button-container flex">
      <button mat-raised-button color="primary" (click)="addApplication()">
        Add New Application
      </button>
    </div>
  </div>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>

    <mat-table [hidden]="loading" [dataSource]="applicationList" matSort>
      <!-- Application Name -->
      <ng-container matColumnDef="nameLowerCase">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Application Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <!-- Domains Used Count -->
      <ng-container matColumnDef="domains_used_count">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain Used Count</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.domains_used_count }}</mat-cell>
      </ng-container>

      <!-- Edit/Delete Icons -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button
            class="table-btn-icon"
            mat-flat-button
            color="warn"
            (click)="deleteApplication(row)"
          >
            <mat-icon class="table-btn-icon-size">delete</mat-icon>
          </button>
          <button
            class="table-btn-icon"
            mat-flat-button
            color="primary"
            (click)="editApplication(row)"
          >
            <mat-icon class="table-btn-icon-size">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header Info -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
        (click)="editApplication(row)"
      ></mat-row>
    </mat-table>
  </div>
</div>
