<div class="flex flex-container tab">
  <!-- <h5>Template : {{tdTabSvc.template_data.name}}</h5> -->
  <div class="flex flex-center" *ngIf="ddTabSvc.isLoading()">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!ddTabSvc.isLoading()">
    <h5>Domain: {{ ddTabSvc.domain_data.name }}</h5>
    <!--
    <button
      class="manipulate_menu"
      mat-raised-button
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      Options
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="downloadDomain()" mat-menu-item>
        <mat-icon>download</mat-icon>Download ZIP
      </button>
      <button
        (click)="deleteDomain(ddTabSvc.domain_data._id)"
        mat-menu-item
      >
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-menu> -->

    <div class="text-muted mb-4">Detailed information for the domain</div>

    <div class="flex-column flex-full summary_list_rows" [formGroup]="tabForm">
      <div class="flex-row">
        <div class="flex sl_flex_title">Domain Name</div>
        <div class="flex sl_flex_content">
          {{ ddTabSvc.domain_data.name }}
        </div>
      </div>
      <div class="flex-row">
        <div class="flex sl_flex_title">Domain Is Launched</div>
        <div class="flex sl_flex_content">
          {{ ddTabSvc.domain_data.is_active }}
        </div>
      </div>
      <div *ngIf="ddTabSvc.domain_data.cloudfront_status" class="flex-row">
        <div class="flex sl_flex_title">Domain Deployment Status</div>
        <div class="flex sl_flex_content">
          {{ ddTabSvc.domain_data.cloudfront_status.Status }}
        </div>
      </div>
      <div class="flex-row" *ngIf="ddTabSvc.domain_data?.category">
        <div class="flex sl_flex_title">Template Base Name</div>
        <div class="flex sl_flex_content">
          {{ ddTabSvc.domain_data.category }}
        </div>
      </div>

      <!-- Application If ADMIN -->
      <div class="flex-row" *ngIf="ddTabSvc.userIsAdmin">
        <div class="flex sl_flex_title">Applications Using</div>
        <div class="flex sl_flex_content">
          <mat-form-field style="width: 20em" appearance="outline">
            <mat-select
              (selectionChange)="changeApplication($event.value)"
              formControlName="application_id"
            >
              <mat-option [value]="null">--Select--</mat-option>
              <mat-option *ngFor="let a of application_list" [value]="a._id">
                {{ a.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Application If base user -->
      <div class="flex-row" *ngIf="!ddTabSvc.userIsAdmin">
        <div class="flex sl_flex_title">Applications Assigned To</div>
        <div
          *ngIf="ddTabSvc.domain_data.application_name"
          class="flex sl_flex_content"
        >
          {{ ddTabSvc.domain_data.application_name }}
        </div>
        <div
          *ngIf="!ddTabSvc.domain_data.application_name"
          class="flex sl_flex_content"
        >
          No application assigned
        </div>
      </div>
    </div>

    <div class="flex-row" *ngIf="ddTabSvc.domain_data?.is_generating_template">
      <div class="flex sl_flex_title">Template Generating</div>
      <div class="flex sl_flex_content">True</div>
    </div>
    <div class="flex-row" *ngIf="ddTabSvc.domain_data?.is_launching">
      <div class="flex sl_flex_title">Launching In Progress</div>
      <div class="flex sl_flex_content">True</div>
    </div>
    <div class="flex-row" *ngIf="ddTabSvc.domain_data?.is_delaunching">
      <div class="flex sl_flex_title">Taking Down In Progress</div>
      <div class="flex sl_flex_content">True</div>
    </div>

    <!-- <div class="flex summary_list" *ngIf="ddTabSvc.domain_data._id" [formGroup]="tabForm">
      <div class="flex-column titles">
        <div class="flex-row">Domain Name</div>
        <div class="flex-row">Domain URL</div>
        <div *ngIf="ddTabSvc.domain_data?.category"  class="flex-row">Template Base Name</div>
        <div *ngIf="ddTabSvc.domain_data?.application_using?._id" class="flex-row">Applications Using</div>
        <div *ngIf="ddTabSvc.userIsAdmin" class="flex-row">Applications Using</div>
      </div>

      <div class="flex-column values">
        <div class="flex-row">{{ ddTabSvc.domain_data.name }}</div>
        <div class="flex-row">{{ ddTabSvc.domain_data.domain_url }}</div>
        <div *ngIf="ddTabSvc.domain_data?.category"  class="flex-row">
          {{ ddTabSvc.domain_data.category }}
        </div>
        <div *ngIf="ddTabSvc.domain_data?.application_using?._id" class="flex-row">{{ ddTabSvc.domain_data.application_using.name }}</div>
        <div *ngIf="ddTabSvc.userIsAdmin" class="flex-row">


        </div>
      </div>
    </div> -->
  </div>

  <!-- <mat-label class="mt-3">Domain Attributes</mat-label>
  <div class="flex-row">
    <table class="display_table">
      <tr>
        <th>Attribute/Parameter Name</th>
        <th>Current Value</th>
      </tr>
      <tr *ngFor="let parameter of ddTabSvc?.domain_data?.domain_parameters">
        <td>{{ parameter.param_name }}</td>
        <td>{{ parameter.value }}</td>
      </tr>
    </table>
  </div> -->
</div>
