<div class="flex flex-container tab">
  <h5>Redirects</h5>
  <mat-table [dataSource]="wdTabSvc.website_data?.records" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="record_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.record_type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <button
          class="table-btn-icon"
          mat-flat-button
          color="warn"
          (click)="deleteRecord(row)"
        >
          <mat-icon class="table-btn-icon-size">delete</mat-icon>
        </button>
        <button
          class="table-btn-icon"
          mat-flat-button
          color="primary"
          (click)="editRecord(row)"
        >
          <mat-icon class="table-btn-icon-size">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="table-row cursor-pointer"
      *matRowDef="let row; columns: displayedColumns"
      (click)="editRecord(row)"
    ></mat-row>
  </mat-table>

  <div class="text-right mt-3">
    <button mat-raised-button color="primary" (click)="addRecord()">
      Add New DNS Record
    </button>
  </div>
</div>
