API_URL=http://localhost:5000
AWS_PROJECT_REGION=us-east-1
AWS_COGNITO_IDENTITY_POOL_ID=
AWS_COGNITO_REGION=us-east-1
AWS_USER_POOLS_ID=us-east-1_iqSBsswDh
AWS_USER_POOLS_WEB_CLIENT_ID=2jjsob72d3umqvfjg42fb319c4
OAUTH_DOMAIN=dm-dev.auth.us-east-1.amazoncognito.com
OAUTH_REDIRECT_URL=http://localhost:4200
