<div class="flex flex-container tab">
  <h5>Redirects</h5>
  <mat-table [dataSource]="wdTabSvc.website_data?.mailgunRecords" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="route">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Route</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.route }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <button
          class="table-btn-icon"
          mat-flat-button
          color="warn"
          (click)="deleteMailgunRecord(row)"
        >
          <mat-icon class="table-btn-icon-size">delete</mat-icon>
        </button>
        <button
          class="table-btn-icon"
          mat-flat-button
          color="primary"
          (click)="editMailgunRecord(row)"
        >
          <mat-icon class="table-btn-icon-size">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="table-row cursor-pointer"
      *matRowDef="let row; columns: displayedColumns"
      (click)="editMailgunRecord(row)"
    ></mat-row>
  </mat-table>

  <div class="text-right mt-3">
    <button mat-raised-button color="primary" (click)="addMailgunRecord()">
      Add New Mailgun Record
    </button>
  </div>
</div>
