<div *ngIf="applicationLoaded" style="min-height:5em;">
  <h3 class="single_page_header">{{application_data.name}}</h3>
  <button *ngIf="applicationLoaded" class="manipulate_menu" mat-raised-button color="primary"  [matMenuTriggerFor]="menu">Options</button>
  <mat-menu #menu="matMenu">
    <button (click)="delete()" mat-menu-item> 
      <mat-icon>delete</mat-icon> Delete</button>
  </mat-menu>
  <div class="flex flex-column">
    <div class="flex summary_list" >    
      <div class="flex-column titles">
        <div class="flex-row"> Application Name</div>
        <!-- <div class="flex-row"> Domains in use</div> -->
        <div class="flex-row"> Requester Name</div>
        <!-- <div class="flex-row"> Date Created</div> -->
      </div>

      <div class="flex-column values">
        <div class="flex-row"> {{ application_data.name }}</div>
        <!-- <div class="flex-row"> {{ application_data.domains_used_count }} </div> -->
        <div class="flex-row"> {{ application_data.requester_name }} </div>
        <!-- <div class="flex-row"> {{ application_data.date_created | date: 'MM/dd/yy' }} </div> -->
      </div>
    </div>
  </div>
</div>