<mat-card>
  <mat-card-header class="mat-card-header-primary">
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form autocomplete="off">
      <div style="width: 350px">
        <p>
          Please enter your account username. Check your account email for a
          password reset code.
          <br />
          If you are still having problems, please contact Domain Manager Admin.
        </p>
      </div>
      <p>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="Username"
            [formControl]="username"
            autocomplete="off"
            [errorStateMatcher]="matcherusername"
          />
          <mat-icon matPrefix style="margin-right: 10px">face</mat-icon>
          <mat-error *ngIf="username.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button
          class="button-right"
          (click)="submit()"
          [disabled]="username.hasError('required')"
          mat-flat-button
          color="accent"
        >
          Send Password Reset Code
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
