<div class="flex flex-container tab">
  <h5>Assign Website Attributes</h5>

  <!-- FORM GROUP -->
  <div class="flex-column" [formGroup]="tabForm">
    <!-- WEBSITE NAME -->

    <div class="flex flex-column">
      <mat-label>Name</mat-label>
      <div class="text-muted">
        The application that will be utilizing the domain
      </div>
      <mat-form-field style="width: 20em" appearance="outline">
        <mat-label>Website Name</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          formControlName="website_name"
          placeholder=" Type Attribute Here"
        />
      </mat-form-field>
    </div>

    <!-- APPLICATION -->
    <div class="flex flex-column">
      <mat-label>Application</mat-label>
      <div class="text-muted">
        The application that will be utilizing the domain. <br />This is used as
        an identifier and will not be displayed on the website itself.
      </div>
      <mat-form-field style="width: 20em" appearance="outline">
        <mat-select formControlName="application_using_uuid">
          <mat-option [value]="null">--Select--</mat-option>
          <mat-option
            *ngFor="let a of applicationSvc.application_list"
            [value]="a.application_uuid"
          >
            {{ a.application_name }}
          </mat-option>
        </mat-select>
        <!-- <mat-error
              *ngIf="f.application_using_uuid.errors?.required"
              class="invalid-feedback"
              >
              A application must be selected
              </mat-error>             -->
      </mat-form-field>
    </div>
    <!-- ATTRIBUTES -->
    <div class="text-muted">
      Assign the attributes that will be used to populate the fields within your
      selected template
    </div>
    <div
      class="flex flex-row"
      *ngFor="let attribute of wcTabSvc.attribueList; let i; index"
    >
      <mat-form-field style="width: 20em" appearance="outline">
        <mat-label>{{ attribute.key }}</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          formControlName="{{ attribute.key }}"
          placeholder=" Type Attribute Here"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex-row flex-end mt-4">
    <button mat-raised-button color="primary" class="flex" (click)="create()">
      Create
    </button>
  </div>
</div>
