<ng-container>
  <mat-toolbar class="docs-header" color="primary">
    <button
      mat-icon-button
      class="menu-button"
      type="button"
      style="margin-left: 1em"
      aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
    >
      <i class="material-icons">menu</i>
    </button>
    <img
      src="/assets/images/logo_dm_horz.jpg"
      onclick="window.location.href='/'"
      class="dm-header-logo"
      style="cursor: pointer"
      alt="Domain Manager Logo Image"
    />
    <span class="fill-remaining-space"></span>
    <span class="loggin-user">
      {{ currentUserName }}
      <button
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        [matMenuTriggerFor]="userMenu"
      >
        <i class="material-icons">settings</i>
      </button>
      <mat-menu
        #userMenu="matMenu"
        yPosition="below"
        class="mat-menu-custom-header"
      >
        <button mat-menu-item *ngIf="currentUserName" (click)="myProfile()">
          My Profile
        </button>
        <button mat-menu-item (click)="bugReport()">Submit Issue</button>
        <button mat-menu-item (click)="featureRequest()">
          Request Feature
        </button>
        <button mat-menu-item routerLink="/help">Help</button>
        <button mat-menu-item (click)="about()">About</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="docs-sidenav"
      mode="side"
      opened="true"
      [fixedInViewport]="false"
      [fixedTopGap]="0"
      [fixedBottomGap]="0"
    >
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/domain-management">Domain Management</a> -->
        <a mat-list-item routerLink="/domain">Domains</a>
        <a mat-list-item routerLink="/template">Templates</a>
        <a
          *ngIf="userAuthSvc.userIsAdmin()"
          mat-list-item
          routerLink="/application"
          >Applications</a
        >
        <a *ngIf="userAuthSvc.userIsAdmin()" mat-list-item routerLink="/users"
          >Users</a
        >
      </mat-nav-list>
      <img
        src="/assets/images/logo_dm.png"
        class="dm-sidenav-logo"
        alt="Domain Manager Sidenav Logo Image"
      />
    </mat-sidenav>
    <mat-sidenav-content #mainContent class="sidenav-content">
      <div class="header-title">
        <h1 class="font-header">{{ layoutSvc.getTitle() }}</h1>
      </div>
      <mat-card>
        <mat-card-content #matCard>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary" class="docs-footer"></mat-toolbar>
</ng-container>
