<div class="flex flex-container tab">
  <h5>Proxy Categorization</h5>
  <div [formGroup]="tabForm">
    <div class="text-muted mb-3">
      At least one proxy category must be selected.
    </div>
    <div>
      <mat-label class="category_label">Category One</mat-label>
    </div>
    <mat-form-field style="width: 20em" appearance="outline">
      <mat-select formControlName="category_one">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option
          *ngFor="let c of filterCategories(categories, 'cat_one')"
          [value]="c._id"
        >
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.category_one.errors?.required"
        class="invalid-feedback"
      >
        A category must be selected
      </mat-error>
    </mat-form-field>

    <div class="mb-2" *ngIf="isEmptySelection(f.category_one)">
      <!-- <mat-divider></mat-divider> -->
      <mat-label class="category_label">Category Two</mat-label>
    </div>

    <mat-form-field
      *ngIf="isEmptySelection(f.category_one)"
      style="width: 20em"
      appearance="outline"
    >
      <mat-select formControlName="category_two">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option
          *ngFor="let c of filterCategories(categories, 'cat_two')"
          [value]="c._id"
        >
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.category_one.errors?.required"
        class="invalid-feedback"
      >
        A category must be selected
      </mat-error>
    </mat-form-field>

    <div class="mb-2" *ngIf="isEmptySelection(f.category_two)">
      <!-- <mat-divider></mat-divider>  -->
      <mat-label class="category_label">Category Three</mat-label>
    </div>

    <mat-form-field
      *ngIf="isEmptySelection(f.category_two)"
      style="width: 20em"
      appearance="outline"
    >
      <mat-select formControlName="category_three">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option
          *ngFor="let c of filterCategories(categories, 'cat_three')"
          [value]="c._id"
        >
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.category_one.errors?.required"
        class="invalid-feedback"
      >
        A category must be selected
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex-row flex-end mt-4">
    <button mat-raised-button color="primary" class="flex" (click)="nextTab()">
      Next
    </button>
  </div>
</div>
