<h2 mat-dialog-title>Manage Redirect</h2>
<form [formGroup]="redirectForm" class="dialog text-muted" mat-dialog-content>
  <div class="text-muted mb-4">
    Fill in all fields and hit submit to create/edit a redirect.
  </div>

  <div class="flex-column">
    <div class="flex flex-column">
      <mat-form-field style="width: 30em" appearance="outline">
        <mat-label>Redirect Subdomain</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          required
          formControlName="subdomain"
          [(ngModel)]="redirect.subdomain"
          placeholder=" The subdomain of the website."
        />
        <mat-error *ngIf="redirectForm.get('subdomain').invalid"
          >This is a required field.</mat-error
        >
      </mat-form-field>
    </div>

    <div class="flex flex-column">
      <mat-form-field style="width: 30em" appearance="outline">
        <mat-label>Redirect Url</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          required
          formControlName="redirectUrl"
          [(ngModel)]="redirect.redirect_url"
          placeholder=" The url to send redirects."
        />
        <mat-error *ngIf="redirectForm.get('redirectUrl').invalid"
          >This is a required field.</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</form>

<mat-dialog-actions align="end">
  <button
    *ngIf="isNewRedirect"
    [disabled]="!redirectForm.valid"
    (click)="createRedirect()"
    mat-raised-button
    color="primary"
  >
    Create & Close
  </button>
  <button
    *ngIf="!isNewRedirect"
    [disabled]="!redirectForm.valid"
    (click)="updateRedirect()"
    mat-raised-button
    color="primary"
  >
    Edit & Close
  </button>
  <button [mat-dialog-close]="false" cdkFocusInitial mat-button color="primary">
    Cancel
  </button>
</mat-dialog-actions>
