
<div class="flex flex-container tab">
  <h5>Template : {{tdTabSvc.template_data.template_name}}</h5>
  <div class="text-muted">
    A list of all websites that are currently using this template
  </div>
  <mat-label class="mt-3">Template Attributes</mat-label>
  <div *ngIf="tdTabSvc.template_data_attributes.length" class="flex-row ">
      <table class="display_table">
          <tr>
              <th> Website Name</th>
              <th> Application Using </th>
              <th> Download </th>
          </tr>
          <tr *ngFor="let website of this.tdTabSvc.websites_used_list">
              <td>{{website.website_name}}</td>
              <td>{{applicationSvc.getApplicationNameByUUID(website.application_using_uuid)}}</td>
              <td>
                  <button mat-raised-button color="primary" class="flex"  (click)="tdTabSvc.downloadWebsite(website.website_uuid)">
                  Download
              </button>
            </td>
          </tr>
      </table>
  </div>  
</div>
