<h2 mat-dialog-title>Manage Record</h2>

<form [formGroup]="recordForm" class="dialog text-muted" mat-dialog-content>
  <!-- RECORD TYPE -->
  <div class="flex flex-column">
    <mat-form-field appearance="outline">
      <mat-select
        required
        formControlName="recordType"
        [(ngModel)]="record.record_type"
      >
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option *ngFor="let t of recordTypes" [value]="t">
          {{ t }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- RECORD NAME -->
  <div class="flex flex-column">
    <mat-form-field style="width: 30em" appearance="outline">
      <input
        matInput
        trim="blur"
        type="text"
        formControlName="name"
        [(ngModel)]="record.name"
        style="text-align: right"
      />
      <span matSuffix style="position: relative; bottom: 3px"
        >.{{ ddTabSvc.domain_data.name }}</span
      >
    </mat-form-field>
  </div>

  <!-- A RECORD -->
  <div *ngIf="record.record_type === 'A'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>IPv4 Address</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        required
        formControlName="aValue"
        [(ngModel)]="record.config.value"
        placeholder="IPv4 Address"
      />
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('aValue').invalid">
      This is a required field and must be a valid ipv4 address.
    </mat-error>
  </div>

  <!-- AAAA -->
  <div *ngIf="record.record_type === 'AAAA'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>IPv6 Address</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        required
        formControlName="aaaaValue"
        [(ngModel)]="record.config.value"
        placeholder="IPv6 Address"
      />
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('aaaaValue').invalid">
      This is a required field and must be a valid ipv6 address.
    </mat-error>
  </div>

  <!-- CNAME RECORD -->
  <div *ngIf="record.record_type === 'CNAME'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Domain</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        required
        formControlName="cnameValue"
        [(ngModel)]="record.config.value"
        placeholder="Domain"
      />
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('cnameValue').invalid">
      This is a required field and must be a valid domain.
    </mat-error>
  </div>

  <!-- MX RECORD -->
  <div *ngIf="record.record_type === 'MX'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Value</mat-label>
      <textarea
        matInput
        trim="blur"
        type="text"
        required
        formControlName="mxValue"
        [(ngModel)]="record.config.value"
        placeholder="[priority] [hostname]"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('mxValue').invalid">
      This is a required field and must have a priority and hostname per line.
    </mat-error>
  </div>

  <!-- NS RECORD -->
  <div *ngIf="record.record_type === 'NS'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Value</mat-label>
      <textarea
        matInput
        trim="blur"
        type="text"
        required
        formControlName="nsValue"
        [(ngModel)]="record.config.value"
        placeholder="list of hostnames"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('nsValue').invalid">
      This is a required field and can be a list of nameservers.
    </mat-error>
  </div>

  <!-- PTR RECORD -->
  <div *ngIf="record.record_type === 'PTR'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>IPv4 Address</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        required
        formControlName="ptrValue"
        [(ngModel)]="record.config.value"
        placeholder="IPv4 Address"
      />
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('ptrValue').invalid">
      This is a required field and must be a valid ipv4 address.
    </mat-error>
  </div>

  <!-- SRV RECORD -->
  <div *ngIf="record.record_type === 'SRV'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Value</mat-label>
      <textarea
        matInput
        trim="blur"
        type="text"
        required
        formControlName="srvValue"
        [(ngModel)]="record.config.value"
        placeholder="[priority] [weight] [port] [hostname]"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('srvValue').invalid">
      This is a required field and must have a priority, weight, port and
      hostname per line.
    </mat-error>
  </div>
  <div class="flex flex-column" *ngIf="record.record_type === 'REDIRECT'">
    <mat-form-field appearance="outline">
      <mat-label>Protocol</mat-label>
      <mat-select
        required
        formControlName="protocol"
        [(ngModel)]="record.config.protocol"
      >
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option *ngFor="let t of protocols" [value]="t">
          {{ t }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- TXT RECORD -->
  <div *ngIf="record.record_type === 'TXT'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Value</mat-label>
      <textarea
        matInput
        trim="blur"
        type="text"
        required
        formControlName="txtValue"
        [(ngModel)]="record.config.value"
        placeholder="text"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('txtValue').invalid">
      This is a required field and can have txt on multiple lines.
    </mat-error>
  </div>

  <!-- REDIRECT RECORD -->
  <div *ngIf="record.record_type === 'REDIRECT'">
    <mat-form-field style="width: 30em" appearance="outline">
      <mat-label>Domain</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        required
        formControlName="redirectValue"
        [(ngModel)]="record.config.value"
        placeholder="Domain"
      />
    </mat-form-field>
    <mat-error *ngIf="recordForm.get('redirectValue').invalid">
      This is a required field and must be a valid domain.
    </mat-error>
  </div>
</form>

<mat-dialog-actions align="end">
  <button
    *ngIf="isNewRecord"
    [disabled]="!formValid"
    (click)="createRecord()"
    mat-raised-button
    color="primary"
  >
    Create & Close
  </button>
  <!-- <button
      (click)="test()"
      mat-raised-button
      color="primary"
    >
      Test
    </button> -->
  <button
    *ngIf="!isNewRecord"
    [disabled]="!formValid"
    (click)="updateRecord()"
    mat-raised-button
    color="primary"
  >
    Edit & Close
  </button>
  <button [mat-dialog-close]="false" cdkFocusInitial mat-button color="primary">
    Cancel
  </button>
</mat-dialog-actions>
