<div class="flex flex-container tab">
  <h5>Proxy Categorization</h5>
  <div *ngIf="!this.ddTabSvc.domain_data.is_category_submitted" [formGroup]="tabForm">
    <div class="text-muted mb-3">
      At least one proxy category must be selected.
    </div>
    <div>
      <mat-label class="category_label">Category One</mat-label>
    </div>
    <mat-form-field style="width: 20em" appearance="outline">
      <mat-select formControlName="category_one">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option *ngFor="let c of filterCategories(categories, 'cat_one')" [value]="c.name">
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.category_one.errors?.required" class="invalid-feedback">
        A category must be selected
      </mat-error>
    </mat-form-field>
    <!-- <div class="mb-2" *ngIf="isEmptySelection(f.category_one)">
      <mat-label class="category_label">Category Two</mat-label>
    </div>

    <mat-form-field
      *ngIf="isEmptySelection(f.category_one)"
      style="width: 20em"
      appearance="outline"
    >
      <mat-select formControlName="category_two">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option
          *ngFor="let c of filterCategories(categories, 'cat_two')"
          [value]="c.name"
        >
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.category_one.errors?.required"
        class="invalid-feedback"
      >
        A category must be selected
      </mat-error>
    </mat-form-field>

    <div class="mb-2" *ngIf="isEmptySelection(f.category_two)">
      <mat-label class="category_label">Category Three</mat-label>
    </div>

    <mat-form-field
      *ngIf="isEmptySelection(f.category_two)"
      style="width: 20em"
      appearance="outline"
    >
      <mat-select formControlName="category_three">
        <mat-option [value]="null">--Select--</mat-option>
        <mat-option
          *ngFor="let c of filterCategories(categories, 'cat_three')"
          [value]="c.name"
        >
          {{ c.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.category_one.errors?.required"
        class="invalid-feedback"
      >
        A category must be selected
      </mat-error>
    </mat-form-field>
  </div> -->
  </div>
  <div *ngIf="this.ddTabSvc.domain_data.is_category_submitted">
    <div class="text-muted mb-3">Domain categorization in process.</div>
    <div>
      The domain has had a category submitted and is in the process of applying
      the category to the multiple proxies. Please allow for 2-3 days for this
      process to complete. Check back on this page for any status updates.
    </div>
  </div>
  <div *ngIf="!this.ddTabSvc.domain_data.is_category_submitted" class="flex-row flex-end mt-4">
    <button [disabled]="!this.ddTabSvc.proxy_categoriztion_tab_form.valid" mat-raised-button color="primary"
      class="flex" (click)="submitCategory()">
      Submit
    </button>
  </div>
</div>
<div class="flex flex-container tab">
  <h5>Manual Proxy Categorization</h5>
  <div class="text-muted mb-5">
    Please fill and submit the categorization request forms below.
  </div>
  <div class="flex-row flex-start mt-4">
    <button class="proxy_button" mat-raised-button color="primary"
      onClick="window.open('//sitereview.bluecoat.com/#/', '_blank')">
      Bluecoat
    </button> &nbsp;
    <button class="proxy_button" mat-raised-button color="primary"
      onClick="window.open('//talosintelligence.com/reputation_center', '_blank')">
      Cisco Talos
    </button> &nbsp;
    <button class="proxy_button" mat-raised-button color="primary"
      onClick="window.open('//fortiguard.com/faq/wfratingsubmit', '_blank')">
      Fortiguard
    </button> &nbsp;
    <button class="proxy_button" mat-raised-button color="primary"
      onClick="window.open('//exchange.xforce.ibmcloud.com', '_blank')">
      IBM X-Force
    </button> &nbsp;
    <button class="proxy_button" mat-raised-button color="primary"
      onClick="window.open('//trustedsource.org/', '_blank')">
      McAfee Trusted Source
    </button> &nbsp;
  </div>
</div>
<div class="tab">
  <button class="proxy_button" mat-raised-button color="primary"
    onClick="window.open('//urlfiltering.paloaltonetworks.com/', '_blank')">
    Palo Alto Networks
  </button> &nbsp;
  <button class="proxy_button" mat-raised-button color="primary"
    onClick="window.open('//global.sitesafety.trendmicro.com/', '_blank')">
    Trend Micro
  </button> &nbsp;
  <button class="proxy_button" mat-raised-button color="primary" onClick="window.open('//csi.websense.com/', '_blank')">
    Websense Forcepoint
  </button> &nbsp;
</div>