<div>
  <div class="table-list-header flex">
    <div class="search-bar flex">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="search_input"
          (keyup)="filterList($event.target.value)"
          matInput
          placeholder="Search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div *ngIf="userIsAdmin" class="add-new-button-container flex">
      <button
        mat-raised-button
        color="primary"
        routerLink="/domain-management/create"
      >
        Add New Domain
      </button>
    </div>
  </div>
  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>

    <div *ngIf="userIsAdmin" class="add-new-button-container flex">
      <button
        mat-raised-button
        color="primary"
        (click)="setAvailableDomains()"
        class="mb-2"
      >
        Make Selected Available
      </button>
    </div>
    <mat-table
      [hidden]="loading"
      class="flex"
      [dataSource]="domainList"
      matSort
    >
      <!-- ActionCheckbox -->
      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          ><mat-checkbox
            [checked]="allChecked"
            [indeterminate]="someChecked()"
            color="warn"
            max-width="2em"
            (change)="setAllCheckboxes($event.checked)"
          >
          </mat-checkbox
          >Select All
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            [(ngModel)]="row.isChecked"
            color="primary"
            (ngModelChange)="updateAllCheckboxComplete()"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.name
        }}</mat-cell>
      </ng-container>
      <!-- Application -->
      <ng-container matColumnDef="application">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Application</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.application
        }}</mat-cell>
      </ng-container>
      <!-- Last User -->
      <ng-container matColumnDef="lastUser">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Last User</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.lastUser
        }}</mat-cell>
      </ng-container>
      <!-- Expiration -->
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Expiration</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.expirationDate | date: "MM/dd/yy"
        }}</mat-cell>
      </ng-container>
      <!-- Went Live -->
      <ng-container matColumnDef="wentLiveDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Went Live</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.wentLiveDate | date: "MM/dd/yy"
        }}</mat-cell>
      </ng-container>
      <!-- Reputation -->
      <ng-container matColumnDef="reputation">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Reputation</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">{{
          row.reputation | percent
        }}</mat-cell>
      </ng-container>
      <!-- Is Available -->
      <ng-container matColumnDef="isAvailable">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Is Available</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="viewDomain(row.uuid)">
          <mat-icon
            *ngIf="row.isAvailable"
            aria-hidden="false"
            aria-label="check_circle icon"
            >check_circle</mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
  </div>
  <!-- <button mat-raised-button color="primary"  (click)="test()">
    %%%MyTestButton
  </button> -->
</div>
