<div>
  <h3>Domain Management List Page</h3>
  <p>
    Welcome to the domain management list page. A list of a ll available domains
    will be listed here in table form
  </p>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>
    <mat-table [hidden]="loading" [dataSource]="domainList" matSort>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.Name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ResourceRecordSetCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Counter</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{
          row.ResourceRecordSetCount
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="uuid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain UUID</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.uuid }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
        (click)="viewDomain(row._id)"
      ></mat-row>
    </mat-table>
  </div>
</div>
