<div>
  <h3>Website Templates List Page</h3>
  <p>
    Welcome to the website templates page. A list of all available website
    templates will be displayed here
  </p>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto;"
        diameter="50"
      ></mat-spinner>
    </div>
    <mat-table [hidden]="loading" [dataSource]="websiteTemplateList" matSort>
      <ng-container matColumnDef="counter">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Counter</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.counter }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="uuid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain UUID</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.uuid }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
        (click)="viewWebsiteTemplate(row.uuid)"
      ></mat-row>
    </mat-table>
  </div>
</div>
