<mat-card>
  <mat-card-header class="mat-card-header-primary">
    <mat-card-title>Register User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <form autocomplete="off">
            <!-- FIRST NAME -->
            <p>
              <mat-form-field appearance="outline" [formGroup]="userFormGroup">
                <input
                  type="text"
                  matInput
                  placeholder="First Name"
                  formControlName="firstname"
                  autocomplete="off"
                  [errorStateMatcher]="matcherusername"
                  [(ngModel)]="model.FirstName"
                />
                <mat-icon matPrefix style="margin-right: 10px">face</mat-icon>
                <mat-error *ngIf="userFormGroup.controls.firstname.invalid">
                  First name is <strong>required</strong> and cannot contain
                  spaces, special characters, or numbers.
                </mat-error>
              </mat-form-field>
            </p>

            <!-- LAST NAME -->
            <p>
              <mat-form-field appearance="outline" [formGroup]="userFormGroup">
                <input
                  type="text"
                  matInput
                  placeholder="Last Name"
                  formControlName="lastname"
                  autocomplete="off"
                  [errorStateMatcher]="matcherusername"
                  [(ngModel)]="model.LastName"
                />
                <mat-icon matPrefix style="margin-right: 10px">face</mat-icon>
                <mat-error *ngIf="userFormGroup.controls.lastname.invalid">
                  Last name is <strong>required</strong> and cannot contain
                  spaces, special characters, or numbers.
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline" [formGroup]="userFormGroup">
                <input
                  type="text"
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  autocomplete="off"
                  [errorStateMatcher]="matchemail"
                  [(ngModel)]="model.Email"
                />
                <mat-icon matPrefix style="margin-right: 10px">mail</mat-icon>
                <mat-error
                  *ngIf="userFormGroup.controls.email.hasError('required')"
                >
                  Email <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="userFormGroup.controls.email.hasError('email')"
                >
                  Check email format
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field [formGroup]="userFormGroup" appearance="outline">
                <mat-select
                  (selectionChange)="changeApplication($event.value)"
                  formControlName="application_id"
                >
                  <mat-option [value]="null">--Select--</mat-option>
                  <mat-option
                    *ngFor="let a of application_list"
                    [value]="a._id"
                  >
                    {{ a.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" [formGroup]="userFormGroup">
                <input
                  type="password"
                  matInput
                  placeholder="Password"
                  formControlName="password"
                  autocomplete="off"
                  [errorStateMatcher]="matcherpassword"
                  [(ngModel)]="model.Password"
                />
                <mat-icon matPrefix style="margin-right: 10px">lock</mat-icon>
                <mat-error
                  *ngIf="userFormGroup.controls.password.hasError('required')"
                >
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline" [formGroup]="userFormGroup">
                <input
                  type="password"
                  matInput
                  placeholder="Password"
                  formControlName="confirmPassword"
                  autocomplete="off"
                  [errorStateMatcher]="matcherconfirmpassword"
                />
                <mat-icon matPrefix style="margin-right: 10px">lock</mat-icon>
                <mat-error
                  *ngIf="
                    userFormGroup.controls.confirmPassword.hasError('required')
                  "
                >
                  Confirm Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="checkPasswordEquality()">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
              {{ error }}
            </p>

            <div class="button">
              <button
                type="submit"
                [disabled]="!userFormGroup.valid && !checkPasswordRules()"
                mat-raised-button
                color="accent"
                (click)="submit()"
              >
                Register
              </button>
              <button mat-button [routerLink]="['/login/']" color="accent">
                Cancel
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6" style="margin-left: 10px">
          <div class="row" style="padding-bottom: 10px">
            <div class="col-md-12 border-bottom">
              <h5>Username Instructions</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Your resulting username will be
              <strong>firstname.lastname</strong> all in lowercase.
            </div>
          </div>

          <div class="row" style="padding-bottom: 10px">
            <div class="col-md-12 border-bottom">
              <h5>Password Rules</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul style="list-style-type: none; padding: 0">
                <li>
                  <div class="rules-list">
                    <fa-icon
                      class="text-danger"
                      [icon]="!checkPasswordLength() ? faBan : faCheck"
                      [styles]="{
                        color: !checkPasswordLength() ? '#dc3545' : '#28a745'
                      }"
                    ></fa-icon>
                  </div>
                  Requires a length of at least 8 characters
                </li>
                <li>
                  <div class="rules-list">
                    <fa-icon
                      class="text-danger"
                      [icon]="!checkPasswordUpperChar() ? faBan : faCheck"
                      [styles]="{
                        color: !checkPasswordUpperChar() ? '#dc3545' : '#28a745'
                      }"
                    ></fa-icon>
                  </div>
                  Requires upper case
                </li>
                <li>
                  <div class="rules-list">
                    <fa-icon
                      class="text-danger"
                      [icon]="!checkPasswordLowerChar() ? faBan : faCheck"
                      [styles]="{
                        color: !checkPasswordLowerChar() ? '#dc3545' : '#28a745'
                      }"
                    ></fa-icon>
                  </div>
                  Requires lower case
                </li>
                <li>
                  <div class="rules-list">
                    <fa-icon
                      class="text-danger"
                      [icon]="!checkPasswordSpecialChar() ? faBan : faCheck"
                      [styles]="{
                        color: !checkPasswordSpecialChar()
                          ? '#dc3545'
                          : '#28a745'
                      }"
                    ></fa-icon>
                  </div>
                  Requires special character
                </li>
                <li>
                  <div class="rules-list">
                    <fa-icon
                      class="text-danger"
                      [icon]="!checkPasswordNumber() ? faBan : faCheck"
                      [styles]="{
                        color: !checkPasswordNumber() ? '#dc3545' : '#28a745'
                      }"
                    ></fa-icon>
                  </div>
                  Requires a number
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
