<h1 mat-dialog-title>Delete Website</h1>
<div class="dialog" mat-dialog-content>
  Are you sure you want to delete the website: {{ data.name }}
  <mat-divider class="mb-3"></mat-divider>
</div>
<div *ngIf="inProgress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-dialog-actions align="end">
  <button (click)="deleteWebsite()" mat-raised-button color="warn">
    Delete
  </button>
  <button [mat-dialog-close]="true" cdkFocusInitial mat-button color="primary">
    Cancel
  </button>
</mat-dialog-actions>
