<div class="flex flex-container tab">
  <h5>User : {{ umTabSvc.user_data.Username }}</h5>
  <div class="text-muted" style="margin-bottom: 0.5em">
    A full history of the users actions
  </div>

  <mat-table [dataSource]="this.userHistory" matSort>
    <ng-container matColumnDef="path">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Path</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.path }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="method">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Method</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.method }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status Code</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.status_code }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="json">
      <mat-header-cell *matHeaderCellDef>JSON</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ JSON.stringify(row.json) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="error">
      <mat-header-cell *matHeaderCellDef>Error</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.error }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Created</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{
        row.created | date : "medium"
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="table-row cursor-pointer"
      *matRowDef="let row; columns: displayedColumns"
      (click)="viewRecord(row)"
    ></mat-row>
  </mat-table>
</div>
