<div class="flex flex-container tab">
  <!-- <h5>Website : {{tdTabSvc.template_data.name}}</h5> -->
  <h5>Website : {{ wdTabSvc.website_data.name }}</h5>
  <div *ngIf="wdTabSvc.hashistory()" class="text-muted">
    A detailed list of the history of this website
  </div>
  <div *ngIf="!wdTabSvc.hashistory()" class="text-muted">
    This website has no history. History will be logged here once this website
    has been launched for the first time.
  </div>

  <!-- Use History Table -->
  <!-- <mat-label class="mt-3">Website Usage History</mat-label> -->
  <div *ngIf="wdTabSvc.hashistory()" class="flex-row">
    <table class="display_table">
      <tr>
        <th>Domain</th>
        <th>Application</th>
        <th>Start Date</th>
        <th>Stop Date</th>
      </tr>
      <tr *ngFor="let history of wdTabSvc.website_history">
        <td>{{ history.domain }}</td>
        <td>{{ history.application }}</td>
        <td>{{ history.start_date | date: "MM/dd/yy" }}</td>
        <td>{{ history.end_date | date: "MM/dd/yy" }}</td>
      </tr>
    </table>
  </div>
</div>
